{% extends "base.html" %}

{% block content %}
{% load static %}

<!-- header block-->
<div class="container mt-5">
    <div class="row align-items-center ">
        <div class="col-7">
            <h2 class="header-title">Современный учебный - центр</h2>
            <p class="header-description">Наш центр предлагает обучение для специалистов
                в различных сегментах IT индустрии и курсов
                профессионального английского языка согласно
                международным стандартам.</p>
        </div>
        <div class="col-5">
            <img class="float-end" src="{% static 'img/header-image.png' %}" alt="">
        </div>
    </div>
</div>

<div class="row gradient-bg align-items-center">
    <div class="col-6 d-flex justify-content-center">
        <h3 class="text-sale animate__animated animate__fadeInLeft">Распродажа знаний!</h3>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <button type="button" class="btn btn-light">ВЫБРАТЬ КУРС</button>
    </div>
</div>
<!-- header block-->


<!-- courses block-->
<div class="container-fluid cards" id="courses">
    <h2 class="text-center course-title">Курсы <br> программирования</h2>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="row mt-5">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="d-flex justify-content-between">
                            {% for course in courses %}
                                <div class="card courses shadow p-3 mb-5 bg-body rounded text-center"
                                     style="width: 18rem;">
                                    <img src="{{ course.image.url }}" class="card-img-top courses">
                                    <div class="card-body text-center">
                                        <h5 class="card-title courses mb-5">{{ course.name }}</h5>
                                        <p class="card-text courses">{{ course.price }} сом <br> <b class="text-month">/месяц</b>
                                        </p>
                                        <a href="#" class="btn btn-primary register">Зарегистрироваться</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- courses block-->


<!--About us block-->
<div data-aos="fade-right" data-aos-duration="2000">
<div class="container-fluid">
<h2 class="text-center about-us-title" id="about-us">О нас</h2>
<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8 animate__animated animate__fadeInLeft">
        <div class="row">
            <div class="col-6">
                <div class="card about mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'img/about1.svg' %}" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title about">Реальные проекты</h5>
                                <p class="card-text about">Во время курсов наши студенты
                                    работают над реальными проектам, что приводит к уулучшению их навыков.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card about mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'img/about2.svg' %}" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title about">Преподаватели</h5>
                                <p class="card-text about">Преподаватели наше учебного центра имеют огромый практический
                                    опыт в топовых компаниях и опыт преподавания международных ВУЗах Кыргызстана.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-2"></div>
<div class="row second-row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row mb-5">
            <div class="col-6">
                <div class="card about mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'img/about3.svg' %}" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title about">Трудоустройство</h5>
                                <p class="card-text about">Мы гарантируем трудоустроить
                                    успешных выпускников наших курсов. Наша команда уже имеет большую команду по
                                    разработке IT проектов.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card about mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'img/about4.svg' %}" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title about">Менторинг</h5>
                                <p class="card-text about">Во время курсов наши студенты
                                    работают над реальными проектам, что приводит к уулучшению их навыков.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="col-2"></div>
</div>
</div>
</div>
<!--About us block-->


<!-- Feedbacks block-->
<div class="container-fluid feedbacks " id="feedbacks">
    <h2 class="text-center feedbacks-title pt-5 pb-5">Отзывы</h2>
    <div class="row mt-5 pb-5">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip">
                        <div class="mainflip flip-0">
                            {% for feedback in feedbacks %}
                                <div class="frontside">
                                    <div class="card feedbacks">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid"
                                                    src="{% static 'img/feedback1.png' %}"
                                                    alt="card image"></p>
                                            <h4 class="card-title">{{ feedback.name }}</h4>
                                            <p class="card-text feedback pb-4">Выпусник курса
                                                <strong>{{ feedback.course.name }}</strong></p>
                                            <i class="fad fa-angle-double-right"
                                               style="font-size: 26px; color: #00D5D5;"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card feedbacks">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">{{ feedback.name }}</h4>
                                            <p class="card-text">{{ feedback.description }}</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card feedbacks">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid"
                                                src="{% static 'img/feedback2.png' %}"
                                                alt="card image"></p>
                                        <h4 class="card-title feedback">Асан</h4>
                                        <p class="card-text feedback pb-4">Выпусник курса <strong>Java</strong></p>
                                        <i class="fad fa-angle-double-right"
                                           style="font-size: 26px; color: #00D5D5;"></i>

                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card feedbacks">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title feedback">Асан</h4>
                                        <p class="card-text feedback">Рад и не пожелел что выбрал буду
                                            советовать всем своим друзьям!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card feedbacks">
                                    <div class="card-body text-center">
                                        <p><img class="img-fluid"
                                                src="{% static 'img/feedback3.png' %}"
                                                alt="card image"></p>
                                        <h4 class="card-title feedback">Эсен</h4>
                                        <p class="card-text feedback pb-4">Выпусник курса <strong>JavaScript</strong>
                                        </p>
                                        <i class="fad fa-angle-double-right"
                                           style="font-size: 26px; color: #00D5D5;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card feedbacks">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title feedback">Эсен</h4>
                                        <p class="card-text feedback">Спасибо за курсы, очень нравятся
                                            и время курсов прям как раз
                                            подходит.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<!-- Feedbacks block-->


<!-- Events block-->
<h2 class="text-center about-us-title mt-5">Мероприятия</h2>
<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <div class="col-9 pe-4">
                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'img/event1.jpeg' %}" alt="..." class="img-event">
                    </div>
                    <div class="col-6">
                        <div class="">
                            <h5 class=""><strong>Изучите Python: Мастер-класс по программированию</strong></h5>
                            <p>Этот мастер класс Python для начинающих быстро научит вас языку Python. Включает
                                в себя обучение Python онлайн с Python 3.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 vertical-line">
                <div class="row ps-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <i class="far fa-calendar-alt" style="font-size: 30px; color: #00D5D5"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="fw-bolder">Дата проведения:</h6>
                                <p class="text-secondary">27.04.2021г.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <i class="far fa-clock" style="font-size: 30px; color: #00D5D5"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="fw-bolder">Время проведения:</h6>
                                <p class="text-secondary">17:00</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-user-tie" style="font-size: 30px; color: #00D5D5"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="fw-bolder">Преподаватель:</h6>
                                <p class="text-secondary">Сагынбек Эсенбеков</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 mb-3">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
            <div class="col-9 pe-4">
                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'img/event2.jpeg' %}" alt="..." class="img-event">
                    </div>
                    <div class="col-6">
                        <div class="">
                            <h5 class=""><strong>Изучите JavaScript: Мастер-класс по программированию</strong></h5>
                            <p class="">Получите серьезные навыки JavaScript, изучив стили объектно-ориентированного и
                                функционального программирования. Этот курс раскроет секреты продвинутого JavaScript и
                                покажет вам концепции и шаблоны, необходимые для полного освоения JavaScript.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 vertical-line">
                <div class="row ps-4">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <i class="far fa-calendar-alt" style="font-size: 30px; color: #00D5D5"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="fw-bolder">Дата проведения:</h6>
                                <p class="text-secondary">03.05.2021г.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <i class="far fa-clock" style="font-size: 30px; color: #00D5D5"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="fw-bolder">Время проведения:</h6>
                                <p class="text-secondary">17:00</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-user-tie" style="font-size: 30px; color: #00D5D5"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="fw-bolder">Преподаватель:</h6>
                                <p class="text-secondary">Сагынбек Эсенбеков</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-2"></div>
    <div class="col-8">
        <button type="button" class="btn btn-outline-success event">Показать еще</button>
    </div>
    <div class="col-2"></div>
</div>
</div>
<!--Events block-->

{% endblock %}



