{% load static %}

<!--Footer-->
<footer class="bg-dark text-white">
    <!-- Grid container -->
    <div class="container-fluid">
        <div class="row pt-5 pb-1">
            <div class="col"></div>
            <div class="col-8">
                <div class="row footer">
                    <!--Grid column-->
                    <div class="col-4 ps-4">
                        <h5 class="pb-2" style="color: #00D5D5">Zero One</h5>

                        <ul>
                            <li class="footer">
                                <a href="#!" class="text-white"> О нас</a>
                            </li>
                            <li class="footer">
                                <a href="#!" class="text-white">Связь</a>
                            </li>
                            <li class="list-unstyled">
                                <a class="btn btn-primary btn-floating"
                                   style="background-color: #000; color: #00D5D5; border: none;" href="#!">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="btn btn-primary btn-floating"
                                   style="background-color: #000; color: #00D5D5; border: none;" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-4 ps-4">
                        <h5 class="pb-2" style="color: #00D5D5">Курсы</h5>

                        <ul>
                            <li class="footer">
                                JavaScript
                            </li>
                            <li class="footer">
                                Python
                            </li>
                            <li class="footer">
                                Java
                            </li>
                            <li class="footer">
                                Мобильная разработка
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-4 ps-4">
                        <h5 class="pb-2" style="color: #00D5D5">Профессиональный английский</h5>

                        <ul>
                            <li class="footer">
                                Английский для медиков
                            </li>
                            <li class="footer">
                                Business английский
                            </li>
                            <li class="footer">
                                TOEFL
                            </li>
                            <li class="footer">
                                ТОЕIC
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Section: Links -->
            </div>
            <div class="col"></div>
        </div>

        <!-- Grid container -->
        <div class="row mb-4">
            <div class="col"></div>
            <div class="col-8">
                <div class="row">
                    <div class="col-6 ps-4">
                        <h5 class="pb-2" style="color: #00D5D5">Как нас найти?</h5>
                        <h6 style="font-size: 14px;"><i class="fas fa-map-marker-alt"> </i>&nbsp; Исанова 1/2а
                            (пересекает Линейная) г.Бишкек</h6>
                        <h6 style="font-size: 14px;"><i class="fas fa-phone-alt"></i> +996 990 601 601 </h6>
                        <h6 style="font-size: 14px;"><i class="fas fa-envelope"></i> zero.one.kg@gmail.com</h6>
                    </div>
                    <div class="col-6 text-end">
                        <img class="" src="{% static 'img/avenir.svg' %}" alt="">
                        <img class="" src="{% static 'img/logo2.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <hr>
        <!-- Copyright -->
        <div class="text-center pb-3">
            {% now 'F, Y' %}. © Copyright: Zero One Accelerator
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!--Footer-->