{% load static %}

<div class="container-fluid sticky-top bg-light">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.svg' %}" alt="" width="180" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <a class="nav-link active" aria-current="page" href="#">ГЛАВНАЯ</a>
{#                    <a class="nav-link">НАШИ КУРСЫ</a>#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="coursesScroll()" role="button"
                           aria-expanded="false" >НАШИ КУРСЫ</a>
                        <ul class="dropdown-menu">
                            {% for course in courses %}
                            <li><a class="dropdown-item" href="/courses/{{course.id}}">{{ course.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <a class="nav-link" onclick="aboutUsScroll()">О НАС</a>
                    <a class="nav-link" onclick="feedbackUsScroll()">ОТЗЫВЫ</a>
                </div>
            </div>
        </div>
    </nav>
</div>
