body {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.3rem 1.8rem;
}

.nav-link {
    /*padding: 0.3rem 1rem;*/
    margin-right: 2px;
    font-weight: 500;
    font-size: 20px;
}

.nav-link:hover {
    border: 2px solid #00D5D5;
    border-radius: 60px;
}

.active {
    border: 2px solid #00D5D5;
    border-radius: 60px;
}

.header-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 40px;
}

.header-description {
    font-size: 24px;
}

.row.gradient-bg {
    margin-top: 40px;
    background-color: #00D3D3;
    padding: 17.5px 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-light {
    background: #fff;
    border-radius: 50px;
    font: inherit;
    font-size: 24px;
    padding: .7rem 3rem;
}

/*block courses*/
.course-title {
    font-size: 48px;
    font-weight: bold;
}

.cards {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 213, 213, 1) 50%, rgba(255, 255, 255, 1) 100%);
    margin-top: 70px;
}

.card.courses {
    border-color: #fff;
    border-radius: 20px !important;
}

.card-title.courses {
    font-size: 36px;
    font-weight: 600;
}

.card-text.courses {
    font-size: 28px;
}

.text-month {
    font-weight: inherit;
    color: #00D3D3;
}

.btn.btn-primary.register {
    font-size: 14px;
    padding: .5rem 1.5rem;
    font-weight: bold;
    border-radius: 50px;
    background-color: #00D5D5;
    border-color: #00D5D5;
}

img.card-img-top.courses {
    width: 200px !important;
    height: 200px !important;
}
.carousel-item.active {
    border: none;
}



/*block courses*/


/*block about us*/
.card.about {
    border: none;
}

.about-us-title {
    font-size: 48px;
    font-weight: bold;
}

.card-title.about {
    font-size: 25px;
    font-weight: 700;
}

.card-text.about {
    font-size: 14px;
}

.row.second-row {
    margin-top: 100px;
}

/*block about us*/

/*block feedbacks*/
.container-fluid.feedbacks {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 213, 213, 1) 50%, rgba(255, 255, 255, 1) 100%);
    margin-top: 70px;
}

.feedbacks-title {
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
}


@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team.card {
    border: none;
    background: #ffffff;
}

.card.feedbacks {
    border-color: #fff;
    border-radius: 50px;

}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: 50px;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;

}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #00D5D5 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50px;
}

/*block feedbacks*/


/*block events*/
.img-event {
    width: 100%;
    height: 200px;
    border: #00D5D5 3px solid;
    border-radius: 20px;

}

.vertical-line {
    border-left: 2px solid #00D5D5;
}

.btn.btn-outline-success.event {
    border-color: #00D5D5 !important;
    color: #00D5D5;
    border-radius: 20px !important;
    padding: .4rem 1.5rem;

}

.btn.btn-outline-success.event:hover {
    border-color: #00D5D5 !important;
    background-color: #00D5D5;
    color: #fff;
    border-radius: 20px !important;
}

/*block events*/


/*Footer block*/
li.footer {
    padding-bottom: .4rem;
    list-style-type: none;
    font-size: 14px;
}

li.footer > a {
    text-decoration: none;
    font-size: 14px;
}

li.footer > a:hover {
    color: #00D5D5 !important;
}

ul {
    padding-left: 0;
}

a.btn.btn-primary.btn-floating {
    background-color: #00D5D5 !important;
    color: #fff !important;
    font-size: 14px;

}

a.btn.btn-primary.btn-floating:hover {
    background-color: #fff !important;
    color: #00D5D5 !important;
}

/*Footer block*/